In [1]:
import pandas as pd

In [11]:
 # Create a reference the CSV file desired
csv_path = "PyBank/Resources/budget_data.csv"

# Read the CSV into a Pandas DataFrame
totals_df = pd.read_csv(csv_path)

# Print the first five rows of data to the screen
totals_df

      Date  Profit/Losses
0   Jan-10        1088983
1   Feb-10        -354534
2   Mar-10         276622
3   Apr-10        -728133
4   May-10         852993
..     ...            ...
81  Oct-16        -729004
82  Nov-16        -112209
83  Dec-16         516313
84  Jan-17         607208
85  Feb-17         382539

[86 rows x 2 columns]

In [6]:
# Create empty list for specific row for variable iteration
total_months=[]
total_profit=[]
monthly_profit_change=[]

# This function to show Output under line
totals_df

      Date  Profit/Losses
0   Jan-10        1088983
1   Feb-10        -354534
2   Mar-10         276622
3   Apr-10        -728133
4   May-10         852993
..     ...            ...
81  Oct-16        -729004
82  Nov-16        -112209
83  Dec-16         516313
84  Jan-17         607208
85  Feb-17         382539

[86 rows x 2 columns]

In [10]:
# Calculate total number of months included in dataset
open(input_file,newline, encoding="utf-8") as budget

SyntaxError: invalid syntax (8502254.py, line 2)

In [ ]:
# Calculate the net total amount of "Profit/Losses" over the entire period

from datetime import datetime
from dateutil import relativedelta

date1 = datetime.strptime()
date2 = dateime.strtime()

In [ ]:
# Calculate changes in the "Profit/Losses" over the entire period, then the average of those changes

In [ ]:
# Calculate the greatest increase in profits (date and amount) over the entire period

In [ ]:
# Calculate the greatest decrease in profits (date and amount) over the entire period

In [ ]:
# Your analysis should look similar to the following:

#  ```text
#  Financial Analysis
#  ----------------------------
#  Total Months: 86
#  Total: $22564198
#  Average Change: $-8311.11
#  Greatest Increase in Profits: Aug-16 ($1862002)
#  Greatest Decrease in Profits: Feb-14 ($-1825558)
#  ```

In [ ]:
# In addition, your final script should both print the analysis to the terminal and export a text file with the results.